@import "tailwindcss";

body {
  background: #010101;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary-50: #fff8ed;
  --color-primary-100: #fff0d4;
  --color-primary-200: #ffdda9;
  --color-primary-300: #ffc472;
  --color-primary-400: #fea039;
  --color-primary-500: #fd8212;
  --color-primary-600: #ec6608;
  --color-primary-700: #c54d09;
  --color-primary-800: #9c3d10;
  --color-primary-900: #7e3410;
  --color-primary-950: #441706;
  
  --color-secondary-50: #f6f6f6;
  --color-secondary-100: #e7e7e7;
  --color-secondary-200: #d1d1d1;
  --color-secondary-300: #b0b0b0;
  --color-secondary-400: #8b8b8b;
  --color-secondary-500: #6d6d6d;
  --color-secondary-600: #5d5d5d;
  --color-secondary-700: #4f4f4f;
  --color-secondary-800: #454545;
  --color-secondary-900: #3d3d3d;
  --color-secondary-950: #262626;


}